MIT Classes/intro to css/Testing.py

Advent_of_code/testing.py
Advent_of_code/day 3/life_support.py
Advent_of_code/day 2/testing.py
testing.py
Advent_of_code/day 4/test.txt
Advent_of_code/day 4/test2.txt
Advent_of_code/day 4/jest.txt
Advent_of_code/day 4/jest2.txt
Projects/Twitter_Bot/configs/reddit_config.py
zEnvironments
QT
Good_Code_examples
patient_db.txt
Projects\Hospital tool\testing.py
Projects/Twitter_Bot/configs/reddit_config.py
Projects/Hospital tool/pyqt5 tut.py
Projects/Hospital tool/testing2.py
gui_tester.txt

Projects/Hospital tool/__pycache__/

customer.db
example.db
